.app {
  width: 100%;
  height: 100%;
}

.container {
  height: calc(100% - 80px);
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  padding: 0 72px;
}

.filters {
  width: 100%;
  height: 60px;
}

.summary {
  width: 100%;
  height: 175px;
  padding-top: 16px;
}

.ranking {
  width: 100%;
  height: calc(100% - 210px);
  overflow: auto;
  padding-top: 16px;
}


